
h2 {
    color: rgb(255, 255, 255);
}
h3 {
    color: rgb(255, 255, 255);
}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #ffffff; 
    background: #ffffff url('https://media.istockphoto.com/id/1487157260/fr/photo/4-aces-online-casino-gambling-concept-illustration-3d.jpg?s=1024x1024&w=is&k=20&c=CmRn5LrvXNFos46PT0uj3hbQLdmkdI__ypjhz0bHoI0=') no-repeat; 
    background-size: 100%;
	margin: 0; 
	padding: 0;

}
div.space{
    margin:0px;
    padding-left:200px;
    padding-top: 200px;
    padding-bottom: 150px;
    padding-right: 150px;
}
.navbar-nav {
    flex-direction: column;
  }
  
  .navbar-nav .nav-item {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    height:400%;
    text-align: center; /* Centrez le texte dans chaque élément */
  }
  
  .navbar-nav .nav-link {
    padding: 10px; /* Ajoutez de l'espace autour du texte */
  }
 